<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<th:block th:if="${password != verify}">
    <h1 th:text="${error}">Your passwords don't match!</h1>
</th:block>

    <form action="/user/add" method="POST">
        <label>Name
            <input type="text" name="username" class="form-control">
        </label>

        <label>Email
            <input type="email" name="email" class="form-control">
        </label>

        <label>Password
            <input type="password" name="password" class="form-control">
        </label>

        <label>Verify Password
            <input type="password" name="verify" class="form-control">
        </label>

        <input type="submit" value="Submit" />
    </form>

</body>
</html>